{{#each songs}}

<article id={{title}}>
 	<h3>{{title}}</h3>
 	<p>Artist Name:{{artist}} | Album:{{album}} | Genre:{{genre}}</p>
    <button type="button" class="btn btn-default deleteButton">Delete Song</button>
</article>

{{/each}}
